body {
  background-color: cornsilk;
}

.search-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  background-color: #3f57b3;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-form input {
  width: 20%;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 8px 10px;
  font: inherit;
}

.search-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border: none;
  background-color: rgb(245, 227, 227);

  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.photo-card__img {
  margin-left: 15px;
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  gap: 35px;
  padding-top: 60px;
  justify-content: center;
}

.gallery__link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  border: 2px solid rgb(241, 238, 238);
  border-radius: 10px;
  overflow: hidden;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.load-more.is-hidden {
  display: none;
}

.load-more {
  display: block;
  margin: 25px auto 0 auto;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3f57b3;
  color: white;
  cursor: pointer;
}
